body{
  display: contents;
}

.navbar{
  float: right;
  border: 1px solid red;
  margin-top: 30px; 
  margin-right: 30px;
}

.navitem{
  text-decoration:none;
  color: black;
  margin: 10px;
  font-size: 15px;
}

.navitem:Hover{
  text-decoration: underline;
}

.main-location{
  margin-top: 300px;
  text-align: center;
}

.input-area{
  margin-top:20px;
}

.input-shape{
  width:542px;
  height:44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 80px;

}

.search-icon{
  position: relative;
  left:40px;
  top:3px;
  color: #9aa0a6;
}

.mic-icon{
  position: relative;
  right:80px;
  top:3px;
  color: #9aa0a6;
}

.camera-icon{
  position: relative;
  right:60px;
  top:3px;
  color: #9aa0a6;
}

.button-area{
  padding-top:20px
}

.button-style{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.offered-area{
  padding-top:20px;
}

.offered-style{
  text-decoration: none;
  margin: 10px;
}

.offered:Hover{
  text-decoration: underline;
}

.offered-font{
  font-size: 11px;
}

.footer{
  position: absolute;
  bottom:0px;
  background-color: #f2f2f2;
  width:100%
}

.first-line{
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.second-line-right{
  float:right;
}

.second-line{
  padding: 15px 30px;
  font-size: 13px;
}

.secocnd-line-too {
  text-decoration:none;
  color: #70757a;  
}

.secocnd-line-too:Hover{
  text-decoration: underline;
}